<h1>Project#Index</h1>

<%= render partial: "projects/partials/projects", locals: { projects: @projects } %>

<div>
  <%= link_to "New project", new_project_path %>
</div>

<div>
  <%= link_to "Home", root_path %>
</div>