<%= turbo_frame_tag medium do %>
  <div>
    <p>Title : <%= medium.title %></p>
  </div>

  <div>
    <%= link_to "Edit", edit_medium_path(medium) %>
    <%= link_to "Delete", medium_path(medium), method: :delete, data: { confirm: "Are you sure ?" } %>
  </div>
<% end %>