<h1>Editing visual medium</h1>

<%= render "form", visual_medium: @visual_medium %>

<br>

<div>
  <%= link_to "Show this visual medium", @visual_medium %> |
  <%= link_to "Back to visual media", visual_media_path %>
</div>
